<%- include('../partials/header'); -%> 

<%- include("../partials/logedInNav"); -%>

<div class="main">
    <%- include("../partials/optionsNav"); -%>
    <div class="content">
        <form method="post" action="/editInfo" class="editInfoForm">
            <input type="text" placeholder="First Name" value="<%= user.firstName %>" name="editInfoFirstName">            
            <input type="text" placeholder="Last Name" value="<%= user.lastName %>" name="editInfoLastName">
            <button type="submit">Change Info</button>
        </form>
        <form action="/uploadImg" method="post" class="uploadImgForm" enctype="multipart/form-data">
            <input type="file" name="profileImage" class="profileImage" accept="image/*" required>
            <button type="submit">upload Profile Image</button>
        </form>
    </div>
</div>





<%- include('../partials/footer'); -%>