<%- include('../partials/header'); -%> 

<%- include("../partials/logedInNav"); -%>

    <div class="main">
        <%- include("../partials/optionsNav"); -%>
        <div class="content">
            <form action="/friendSearch" method="post"  class="friendForm">
                <input type="text" name="friendName" id="" placeholder="Friend Name...........">
                <button type="submit">Search</button>
            </form>

            <div class="friendsShow">
                <% friends.forEach((Element)=>{ %>
                    <div class="friend">
                        <h1>
                            <%= Element.firstName %>
                            <%= Element.lastName %>
                        </h1>
                    </div>
                <% }) %>
            </div>
            
            

        </div>
    </div>



<%- include('../partials/footer'); -%>