<%- include('../partials/header'); -%> 

<%- include("../partials/logedInNav"); -%>

    <div class="main">
        <%- include("../partials/optionsNav"); -%>
        <div class="content">
            <form action="/friendSearch" method="post"  class="friendForm">
                <input type="text" name="friendName" id="" placeholder="Friend Name...........">
                <button type="submit">Search</button>
            </form>

            <div class="friendsShow">
                <% friends.forEach((Element)=>{ %>
                    <div class="friend">
                        <div class="friendInfo">
                            <div class="profileImage friendImage" style="background-image:url('profileImages/<%= Element.profileImage %>');">

                            </div>
                            <h1>
                                <%= Element.firstName %>
                                <%= Element.lastName %>
                            </h1>
                        </div>
                        <div class="options">
                            <a class="friendOption" href="#">visit profile</a>
                            <% if( Element._id != user._id ){ %>
                                <a class="friendOption" href="#">add friend</a>
                            <% } %>
                            
                        </div>
                        
                    </div>
                <% }) %>
            </div>
            
            

        </div>
    </div>



<%- include('../partials/footer'); -%>